@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');

.landing-grid {
  padding: 0px !important; 
  width: 940px;
  margin: 0 auto;
  box-shadow: 0 2px 2p rgba(0,0,0,.4); 
}

@media only screen and (max-width: 950px) {
  .landing-grid{
    width: 600px;
  }
}

@media only screen and (max-width: 610px) {
  .landing-grid{
    width: 420px;
  }
}

.header {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}

.header .links-div {
    display: flex;
    justify-content: center;
    margin: auto;
}

.link {
  text-decoration: none;
  padding-right: 30px;
  padding-left: 30px;
  color:  black;
  font-weight: bolder !important;
  font-size: 16px !important;
  text-transform: uppercase;
}

.active:hover::after {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #1f0c70;
  transform: scale(0); 
  transition: all .5s;
}

.active:visited::after {
  background-color: #1f0c70;
}

.link::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  transform: scale(0); 
  transition: all .5s;
}

.link:hover::after {
  transform: scale(1);
}

.social-links i {
  color: #1f0c70;
  font-size: 2.5em;
  padding: 10px;
}

.bottomSocial {
  display: flex;
  justify-content: center;
}

.topSocial {
  display: flex;
  justify-content: center;
}

.mdl-cell {
  margin: 0 auto !important;
}

.fa {
  font-size: 18px;
}

.mdl-tabs__tab-bar {
  border-bottom: 0px !important;
}

.mdl-tabs__tab {
  font-weight: 600 !important;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: slateblue !important;
}

.mdl-card__actions.mdl-card--border {
  border-top: 0px solid rgba(0, 0, 0, 0.1) !important; 
}

.mdl-card__title-text {
  font-size: 24px !important;
  font-family: 'Tajawal', sans-serif !important;
  font-weight: 600 !important;
}