@import url('https://fonts.googleapis.com/css?family=Khula');

body {
  margin: 0;
  padding: 0;
  font-family: 'Khula', sans-serif !important;
  background-size: cover;
  height: 100vh;
}

p {
  margin-bottom: 0px !important;
  line-height: 22px !important;
}

