@import url('https://fonts.googleapis.com/css?family=Khula');

body {
  margin: 0;
  padding: 0;
  font-family: 'Khula', sans-serif !important;
  background-image: url(./assets/background.png);
  background-size: cover;
  height: 100vh
}

